<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Horribly Underqualified</title>
        <%= favicon_link_tag %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="<%= controller_name %><%= action_name%>">

        <div class="header">
            <%= link_to root_path, :class => 'header-link' do %>
                <h1> Horribly Underqualified </h1>
                Because I have no idea what I'm talking about 
                <% end  %>
        </div>
        <div class="header-bar" ondrop="drop(event)" ondragover="allowDrop(event)">
                <%= render 'layouts/headerbar' %>
            </div>
            <div class="user-bar" ondrop="drop(event)" ondragover="allowDrop(event)">
                <%= render 'layouts/userbar' %>
            </div>
        <% if flash[:alert] %>
            <p id="notice"><%= flash[:alert] %></p>
        <% end %>
        <div class="body">
            <%= yield %>
        </div>
    </body>
</html>
